{{! SP CUSTOMIZATION - ENTIRE FILE }}

<div class='container'>
  <div class='contents clearfix'>

    {{!-- {{home-logo minimized=showExtraInfo}} --}}
    <a class="logomark" href="/" tabindex="">
      <!-- <img src="http://speakerpics.mactech.com/MailerImages/MacTech_Pro_Events-250.png" alt="MacTech Discussion Forums"> -->
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="576px"
			 height="144px" viewBox="0 0 576 144" enable-background="new 0 0 576 144" xml:space="preserve">
		<g id="black_fill__x28_do_not_print_x29_">
		</g>
		<g id="MacTech_RED">
			<path fill="#FFFFFF" stroke="#000000" stroke-width="0.4382" d="M320.467,73.854c0,1.822,0,3.646,0,5.469
				c3.785,0.035,7.572,0.07,11.357,0.104c0,2.56,0,5.119,0,7.678c-7.501,0-15.005,0-22.506,0c0-8.027,0-16.057,0-24.083
				c-2.839-0.105-5.679-0.21-8.519-0.315c0,8.132,0,16.267,0,24.399c-3.646,0-7.292,0-10.938,0c0-8.132,0-16.267,0-24.399
				c-2.383,0.105-4.768,0.21-7.151,0.315c0-3.19,0-6.38,0-9.57c16.229,0,32.464,0,48.693,0c-0.035,2.594-0.07,5.188-0.105,7.783
				c-3.61,0-7.222,0-10.832,0c0,1.788,0,3.576,0,5.363c4.837,0,9.676,0,14.513,0c1.462-9.678,13.416-16.947,24.925-12.515
				c0.105,3.54,0.211,7.082,0.315,10.622c-6.136-3.54-13.222-3.32-14.618,4.838c-0.8,4.676,4.377,9.528,9.045,8.729
				c2.363-0.404,3.878-1.153,5.573-2.104c-0.14,3.505-0.28,7.012-0.421,10.518c-14.292,2.579-21.452-1.293-25.029-12.831
				C330.002,73.854,325.234,73.854,320.467,73.854z"/>
			<g>
				<g>
					<path fill="#EB212E" d="M350.86,52.926c-7.662,1.212-14.957,6.118-15.881,13.777h-14.513v-5.364h10.938
						c-0.035-2.629-0.07-5.259-0.105-7.888c-16.194,0.035-32.394,0.07-48.588,0.105v9.57c2.384-0.105,4.768-0.21,7.151-0.315v24.399
						c3.681-0.035,7.362-0.07,11.043-0.105V62.812c2.805,0.141,5.609,0.281,8.413,0.421v23.979h22.506
						c-0.034-2.594-0.07-5.188-0.104-7.783h-11.253V73.96h14.303v0.21c0.907,1.846,1.108,3.827,2.104,5.469
						c3.115,5.14,9.709,9.552,18.72,7.992c1.472-0.315,2.944-0.63,4.417-0.945c0.07-3.471,0.141-6.941,0.21-10.412
						c-4.974,3.21-10.959,2.577-13.672-2.313c-0.503-0.907-1.204-2.544-0.946-4.102c1.292-7.817,8.483-9.042,14.618-5.048
						c0.026-2.224,0.251-9.255-0.421-10.727C357.213,53.642,354.282,52.384,350.86,52.926z M395.557,87.105
						c-0.034-11.217-0.07-22.437-0.104-33.654c-3.506,0.035-7.013,0.07-10.518,0.105v11.989h-9.886
						c-0.034-4.031-0.07-8.063-0.105-12.094c-2.51-0.025-8.674-0.627-10.517,0.21c0.035,11.182,0.07,22.367,0.105,33.549h10.517
						V74.906h9.886v12.305C388.475,87.176,392.017,87.141,395.557,87.105z"/>
				</g>
				<g>
					<path fill="none" stroke="#000000" stroke-width="0.4382" d="M350.86,52.926c-7.662,1.212-14.957,6.118-15.881,13.777h-14.513
						v-5.364h10.938c-0.035-2.629-0.07-5.259-0.105-7.888c-16.194,0.035-32.394,0.07-48.588,0.105v9.57
						c2.384-0.105,4.768-0.21,7.151-0.315v24.399c3.681-0.035,7.362-0.07,11.043-0.105V62.812c2.805,0.141,5.609,0.281,8.413,0.421
						v23.979h22.506c-0.034-2.594-0.07-5.188-0.104-7.783h-11.253V73.96h14.303v0.21c0.907,1.846,1.108,3.827,2.104,5.469
						c3.115,5.14,9.709,9.552,18.72,7.992c1.472-0.315,2.944-0.63,4.417-0.945c0.07-3.471,0.141-6.941,0.21-10.412
						c-4.974,3.21-10.959,2.577-13.672-2.313c-0.503-0.907-1.204-2.544-0.946-4.102c1.292-7.817,8.483-9.042,14.618-5.048
						c0.026-2.224,0.251-9.255-0.421-10.727C357.213,53.642,354.282,52.384,350.86,52.926z M395.557,87.105
						c-0.034-11.217-0.07-22.437-0.104-33.654c-3.506,0.035-7.013,0.07-10.518,0.105v11.989h-9.886
						c-0.034-4.031-0.07-8.063-0.105-12.094c-2.51-0.025-8.674-0.627-10.517,0.21c0.035,11.182,0.07,22.367,0.105,33.549h10.517
						V74.906h9.886v12.305C388.475,87.176,392.017,87.141,395.557,87.105z"/>
				</g>
			</g>
		</g>
		<g id="MacTech__x22_White_halo_x22__layer">
			<path fill="none" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M272.404,83.109
				c-8.135,2.089-16.397-5.312-15.039-13.251c1.166-6.815,6.965-14.06,15.88-10.938c1.627,0.57,3.223,1.464,4.522,2.419
				c0.794,0.583,1.388,1.567,2.419,1.893c-0.035-2.979-0.07-5.96-0.105-8.939c-2.399-0.83-4.427-2.151-7.362-2.734
				c-11.888-2.363-21.796,7.586-22.611,17.563c-3.085-6.835-6.17-13.673-9.255-20.508h-0.105
				c-5.398,11.603-10.798,23.208-16.196,34.811h-0.105c-2.138-12.023-4.277-24.05-6.416-36.073h-0.21
				c-4.276,9.429-8.554,18.861-12.83,28.291c-1.232-0.918-2.928-6.379-3.681-8.098c-2.979-6.66-5.96-13.322-8.939-19.982
				c-0.035-0.07-0.07-0.14-0.105-0.21c-2.769,14.091-5.539,28.187-8.309,42.278h7.467c1.122-6.345,2.244-12.691,3.365-19.036H195
				l9.675,21.77v0.21c3.365-7.256,6.731-14.514,10.096-21.77v-0.21c0.867,1.133,0.639,3.792,0.947,5.364
				c0.736,4.557,1.472,9.115,2.208,13.672h11.568c1.262-2.805,2.524-5.609,3.786-8.414c1.858-0.84,11.254-0.231,14.093-0.21
				c1.297,2.874,2.594,5.75,3.891,8.624h7.993c-0.456-0.982-0.912-1.964-1.367-2.944c1.297,0.735,2.594,1.472,3.891,2.208
				c3.015,1.261,7.886,1.971,11.779,1.052c2.383-0.562,4.241-1.735,6.31-2.419c0.749-1.645,0.235-7.001,0.21-9.255
				C277.666,79.989,275.706,82.262,272.404,83.109z M236.521,72.799l4.462-11.6l4.462,11.459L236.521,72.799z M357.065,65.125
				c2.1,1.046,3.45,2.804,5.258,4.102c-0.175-5.503-0.351-11.008-0.525-16.512c-10.63-2.893-19.254-1.593-24.819,5.574
				c-1.355,1.745-3.018,3.841-3.472,6.415c-3.646,0.035-7.292,0.07-10.938,0.105c-0.034-0.526-0.07-1.052-0.104-1.578h10.938V51.664
				c-17.526-0.035-35.059-0.07-52.584-0.105c-0.035,4.522-0.07,9.045-0.105,13.567c2.383-0.105,4.768-0.21,7.151-0.315v24.293
				c4.942,0.036,9.886,0.07,14.829,0.105c0.035-8.132,0.07-16.267,0.104-24.399c1.542,0.07,3.085,0.14,4.628,0.21v24.188h26.292
				V77.641c1.289,1.49,1.866,3.728,3.05,5.258c3.66,4.737,11.119,8.191,20.088,6.521c1.832-0.342,3.616-0.773,5.047-1.472
				c0.141-5.398,0.281-10.798,0.421-16.196c-1.993,1.552-3.416,3.63-6.204,4.417c-4.396,1.241-9.119-1.77-8.625-5.995
				C348.001,65.853,352.397,62.799,357.065,65.125z M333.718,77.535h-11.253v-1.577h11.253V77.535z M383.042,51.559v11.989
				c-1.998,0.035-3.997,0.07-5.995,0.105c-0.035-4.031-0.069-8.063-0.105-12.094H362.64c-0.036,12.514-0.071,25.031-0.105,37.545
				c4.802,0.036,9.605,0.07,14.407,0.105v-12.41h6.101v12.41h14.303c0.035-12.514,0.07-25.031,0.104-37.545
				C392.647,51.629,387.844,51.594,383.042,51.559z"/>
		</g>
		</svg>
    </a>

    <div class='panel clearfix'>
      {{#unless currentUser}}
        <button {{action showLogin}} class='btn btn-primary btn-small login-button'>
          {{fa-icon user}} {{i18n log_in}}
        </button>
      {{/unless}}
      <ul class='icons clearfix' role='navigation'>
        {{#if currentUser}}
          <li class='notifications'>
            <a class='icon' href="#" {{action showNotifications target="view"}} data-notifications="notifications-dropdown" id='user-notifications' title='{{i18n notifications.title}}'>
              {{fa-icon comment label="notifications.title"}}
            </a>
            {{#if currentUser.unread_notifications}}
              <a href='#' class='badge-notification unread-notifications'>{{currentUser.unread_notifications}}</a>
            {{/if}}
            {{#if currentUser.unread_private_messages}}
              <a href='#' class='badge-notification unread-private-messages'>{{currentUser.unread_private_messages}}</a>
            {{/if}}
          </li>
        {{/if}}
        <li>
          {{#if Discourse.loginRequired}}
            <a id='search-button' class='icon expand' href='#' aria-hidden="true" {{action showLogin}}>
              {{fa-icon search}}
            </a>
          {{else}}
            <a id='search-button'
               class='icon expand'
               href='#'
               data-dropdown="search-dropdown"
               title='{{i18n search.title}}'>
               {{fa-icon search label="search.title"}}
            </a>
          {{/if}}
        </li>
        <li class='categories dropdown'>
          {{#if Discourse.loginRequired}}
            <a class='icon'
               href="#"
               aria-hidden="true"
               {{action showLogin}}>
               {{fa-icon bars}}
            </a>
          {{else}}
            <a class='icon'
               data-dropdown="site-map-dropdown"
               data-render="renderSiteMap"
               href="#"
               title='{{i18n site_map}}'
               id="site-map">
               {{fa-icon bars label="site_map"}}
            </a>
          {{/if}}
          {{#if currentUser.site_flagged_posts_count}}
            <a href='/admin/flags/active' title='{{i18n notifications.total_flagged}}' class='badge-notification flagged-posts'>{{currentUser.site_flagged_posts_count}}</a>
          {{/if}}
        </li>
        {{#if currentUser}}
          <li class='current-user dropdown'>
            <a class='icon'
               data-dropdown="user-dropdown"
               data-render="renderUserDropdown"
               href="#"
               title='{{i18n user.avatar.title}}'
               id="current-user">
                 {{bound-avatar currentUser "medium"}}
            </a>
          </li>
        {{/if}}
      </ul>

      {{render "search"}}

      {{render "notifications" notifications}}

      {{#if view.renderSiteMap}}
        {{render "siteMap"}}
      {{/if}}

      {{render "user-dropdown"}}

    </div>

    {{#unless showExtraInfo}}
      <div class="header-links-wrapper clearfix">
        <a class="header-link" href="http://www.mactech.com" tabindex="">MacTech.com</a>
        <a class="header-link" href="http://pro.mactech.com" tabindex="">MacTech Pro Events</a>
        <a class="header-link" href="http://www.mactech.com/conference" tabindex="">MacTech Conference</a>
      </div>
    {{/unless}}

    {{#if showExtraInfo}}
      <div class="extra-info-wrapper">
        <div {{bind-attr class=":extra-info hasCategory"}}>
          <div class="title-wrapper">
            <h1>
              {{#if showPrivateMessageGlyph}}
                <span class="private-message-glyph">{{fa-icon envelope}}</span>
              {{/if}}

              {{#if topic.details.loaded}}
                {{#if showStarButton}}
                  <a {{bind-attr class=":star topic.starred:starred"}} {{action "toggleStar"}} href='#' {{bind-attr title="topic.starTooltip"}}></a>
                {{/if}}
                {{topic-status topic=topic}}
                <a class='topic-link' href='{{unbound topic.url}}' {{action "jumpToTopPost"}}>{{{topic.fancy_title}}}</a>
              {{else}}
                {{#if topic.errorLoading}}
                  <span class="error">{{topic.errorTitle}}</span>
                {{else}}
                  <span class="loading">{{i18n topic.loading}}</span>
                {{/if}}
              {{/if}}
            </h1>
            {{#if topic.category.parentCategory}}
              {{! SP }}{{bound-category-link topic.category.parentCategory}}{{! /SP }}
            {{/if}}
            {{! SP }}{{bound-category-link topic.category}}{{! /SP }}
            {{! SP }}
            {{#if topic.tags}}
             <div class="tagger-tags-view">
              <span>Tags:</span>
                {{#each topic.tags}}
                  <a href="/tag/{{unbound this}}" class="tagger-tag btn">{{this}}</a>
                {{/each}}
            </div>
            {{/if}}
            {{!/SP}}
          </div>
        </div>
      </div>
    {{/if}}

  </div>
</div>
